@{
    ViewBag.Title = "Laboratorio 1";
}

<div class="jumbotron">
    <h1>LABORATORIO 1</h1>
    <p class="lead">Laboratorio 1 con la inserción de datos manual y la insercion de datos por medio de archivos CSV y edición en ambos</p>  
      @Html.ActionLink("Info de Pareja", "About")
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Inserción Manual</h2>
        <p>
           Ingreso de jugador uno por uno
        </p>
        @Html.ActionLink("Insertar datos uno por uno", "Create","Jugador")
    </div>
    <div class="col-md-4">
        <h2>Inserción por archivo CSV</h2>
        <p>Seleccionar el archivo CSV que se quiere cargar</p>
        @Html.ActionLink("Insertar Archivo", "Index", "Carga")
    </div>
    <div class="col-md-4">
        <h2>Mostrar datos</h2>
        <p>Datos de lista manual
        @Html.ActionLink("Mostrar", "Index", "Jugador")
        </p>
        <p>Datos de lista CSV
        @Html.ActionLink("Mostrar", "Index", "Carga")
        </p>       
    </div>
</div>